/* ================================================================= */
/* RESET */
/* ================================================================= */
* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ccc;
  position: relative;
  overflow-x: hidden;
}

/* ================================================================= */
/* LAYOUT */
/* ================================================================= */
.page {
  width: 21cm;
  min-height: 29.7cm;
  margin: 0 auto;
  display: flex;
  color: #222;
  background-color: #fff;
}

/* Horizontal line to mark where the A4 page ends */
.page::after {
  position: absolute;
  top: 29.7cm;
  left: 0;
  z-index: -1;
  content: '';
  height: 1px;
  width: 100vw;
  background-color: #000;
}

.column {
  padding: 15px;
}

.column.left {
  flex-basis: 30%;
}

.column.right {
  flex: 1;
}

header,
section {
  margin-bottom: 25px;
}

/* ================================================================= */
/* DETAILS */
/* ================================================================= */

.details h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 13px;
}

.details li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.details svg {
  font-size: 18px;
  margin-right: 10px;
}
